/* CSS for Shining Stars Preschool */

html, body {
	background: #FFFF33;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	height: 100%;
}
.container {
	background: #FFFFFF;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	width: 75%;
	min-height: 100%;
	position: relative;
	padding-bottom: 100px;
}
.header-img {
	height: 170px;
}
.photo-img {
	padding-top: 20px;
	width: 85%;
}
.photo-img-2 {
	padding-top: 20px;
	width: 60%;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-family: 'Acme', cursive;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
}
.purple-heading {
	background-color: #660099;
	box-shadow: 4px 4px 5px 3px #999999;	
}
.blue-heading {
	background-color: #006699;
	box-shadow: 4px 4px 5px 3px #999999;
}
nav, footer {
	background: #FFFFCC;
	border-top: 2px solid #000000;
	padding: 15px 0 10px 0;
}
nav {
	border-bottom: 2px solid #000000;
	font-family: 'Acme', cursive;
	font-size: 1.4em;
}
nav a {
	padding: 0 5px 0 5px;
	line-height: 200%;
	text-decoration: none;
	color: #000000;
}
#slideshow img {
	width: 100%;
	padding: 20px 0 20px 0;
}
.home {
	padding: 20px 10px 20px 15px;
}
.home p:not(:last-child) {
	box-shadow: 6px 6px 5px 3px #999999;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.4em;
	padding: 15px 5px 15px 5px;
}
.home1 {
	background-color: #660099;
}
.home2 {
	background-color: #339999;
}
.home3 {
	background-color: #006699;
}
.facebook {
	width: 80%;
	margin: auto;
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
tr th {
	width: 100px;
}
tr th:last-child {
	width: 400px;
}
th, td {
	padding: 3px;
}
iframe {
	width: 75%;
	margin-left: 12.5%;
	margin-top: 8%;
}
.footer {
	font-size: 1.2em;
	position: relative;
	bottom: 0;
}
footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 4em;
}
