/* Colors: #F8FE34 (yellow)
           #52049F (purple)
           #04279F (blue)
*/

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 17px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}
#container {
    flex: 1 0 auto;
    width: 80%;
    margin: auto;
    background-color: white;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

/* Header */

.header-img {
    max-width: 100%;
    padding: 10px;
}

.address {
    text-align: right;
    padding: 20px 40px;
    font-weight: bold;
}

/* Navigation */

nav {
    background-color: #F8FE34;
    font-family: Acme, sans-serif;
    font-size: 1.2em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-link {
    color: black;
    font-size: 1.3rem;
}

.nav-link:hover {
    letter-spacing: 1px;
    color: black;
    text-decoration: underline;
}

.navbar-nav {
    margin: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar-toggler {
    border-color: black;
}

/* Footer */

footer {
    flex-shrink: 0;
    background-color: #F8FE34;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

img {
    max-width: 100%;
}

/* Headings */

.h-purple {
    background-color: #52049F;
    color: white;
}

.h-blue {
    background-color: #04279F;
    color: white;

}
