form {
	margin-left: 25%;
}
form p {
	text-align: left;
	width: 270px;
	color: #660099;
	font-weight: bold;
}
p input {
	float: right;
	width: 200px;
	border: 1px solid black;
}
textarea {
	border: 1px solid black;
}
form > input {
	margin-left: 25%;
}